.article_list{
    margin-left: 100px;
}
.article_node{
    margin-top: 153px;
}
.article_title{
    font-size: 34px;
    font-family: Segoe UI;
    color: #707070;
}
.article_tags{
    margin-left: 10px;
    margin-top: 10px;
}
.article_tag{
    font-size: 25px;
    font-family: Segoe UI;
    color: #707070;
    font-weight: bold;
    margin-left: 20px;
}
.article_excerpt{
    width: 1058px;
    height: 150px;
    font-size: 25px;
    font-family: Segoe UI;
    color: #707070;
    line-height: 250%;
    margin-left: 18px;
}
.article_line{
    width: 1064px;
    height: 1px;
    margin-left: 20px;
    opacity: 0.6;
    background-color: #707070;
}